{% load static %}
<head>
  <meta charset="utf-8">
  {# favicon #}
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  {# shortcut #}
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/shortcut/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/shortcut/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/shortcut/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/shortcut/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/shortcut/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/shortcut/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/shortcut/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/shortcut/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/shortcut/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/shortcut/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/shortcut/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/shortcut/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/shortcut/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/shortcut/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'img/shortcut/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
  <style type="text/css">
    body {
      background-color: #FFFFFF;
    }
    table {
      border-collapse:collapse;
    }
    table, td, th {
      border:2px solid #919191;
    }
    tr:nth-child(2n) td {
      background-color: #f9e9e8;
    }
    tr td:first-child {
      text-align: center;
    }
  </style>
</head>