{% load static %}
<div class="nav">
  <a href="{% url 'investment' %}">投信買超排行</a>
  <a href="{% url 'foreign' %}">外資買超排行</a>
</div>
<div style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;">
  <a href="http://www.ermail.com/bannerlink/aTTJ2XaV7V7eAYCjXJX7lmlCJY7VVCc2" target="_blank">
    <img src="{% static 'img/eRmailBanner.gif' %}">
  </a>
</div>